# Add @OWNER_NAME as an owner of OPA Gatekeeper constraints and templates
ci-pipeline/config-root/cluster/*-constraint.yaml sergeimelnik1980
ci-pipeline/config-root/cluster/*-template.yaml sergeimelnik1980
ci-pipeline-unstructured/config-root/constraints sergeimelnik1980
